.allInsert{
  
    margin-top: 5px;
    margin-left: 30% ;
    margin-right: 30%;
    margin-bottom:100px;
    border-top: solid rgb(229, 212, 212);
    border-radius: 14px;
    background-color: #cad9cb;
    border: none;
    padding: 15px;
    text-size-adjust:inherit;
    text-transform:capitalize;
  }

.allInsert .ind {
    height: 80px;
    width: 95%;
    padding: 10px 20px;
    margin: 15px;
    margin-left: -7px;
    box-sizing: border-box;
}
#insAllForm input[type=text], select, input[type=number], input[type=date], input[type=file]{
  width: 90%;
  padding: 14px 30px;
  margin: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#insAllForm textArea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.file {
  padding: 20px 0px;
  margin: 15px;
}

/* 
.inv {
  border-radius: 4px;
  background-color: #cad9cb;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  width: 100%;
  transition: all 0s;
  cursor: pointer;
  margin: 5px;
  margin-left: 1%;
} */

#title{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(33, 35, 33);
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 14px;                                  
  }


#alloggiosTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-top: 40px;

}

#alloggiosTable td, #alloggiosTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#alloggiosTable tr:nth-child(even){background-color: #f2f2f2;}


#alloggiosTable tr:hover {background-color: #ddd;}

#alloggiosTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fb911f;
  color: white;
}

#buttonwrapper {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aggiungi {
  height: auto;
  width: 100px;
}
.holder{
    width: 400px;
    height: auto;
}
#previewImg{
    width: 700px;
}
h1 #title{ 
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*  */
.btn {
  text-decoration: none;
  background-color: #9cdde2;
  border: none;
  color: rgb(132, 97, 97);
  padding: 10px 20px;
  text-align: center;
  font-size: 26px;
  margin: 8px 4px;
  opacity: 1;
  transition: 0.3s;
  width: 40%;
  margin-left: 30%;
  border-radius: 15px;
}

.btn:hover {opacity: 0.6}



.button1 .btn1{
  text-decoration: none;
  border: none;
  color: black;
  padding: 1px 5px;
  text-align: center;
  font-size: 18px;
  margin: 15px 8px;
  transition: 0.3s;
  margin-top: 5px;
}

.button1 .btn1:hover{
  background-color: #3e8e41;
 color: white;
} 


/*singolo alloggio

.dettaglio{
  
}

.catfoto {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.tip {
  display: block;
  margin: 20px;
  padding: 20px;
  margin-left: 20px;
  text-align: left}

.desc {
  display: flex;
}
*/
.buttonM {
  text-decoration: none;
  border-radius: 15px;
  background-color: #83c9a8;
  border: none;
  color: #874242;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  width: 1000px;
  transition: all 0s;
  cursor: pointer;
  margin: 0px;
  
}

.buttonM span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonM span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1;
  right: -20px;
  transition: 0.5s;
}

.buttonM:hover span {
  padding-right: 25px;
}

.buttonM:hover span:after {
  opacity: 1;
  right: 0;
}



.buttonF {
  border-radius: 15px;
  background-color: #83c9a8;
  border: none;
  color: #874242;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  width: 500px;
  transition: all 0s;
  cursor: pointer;
  margin: 0px;
  display: flex;
  margin-top: 20px;
  
}

.buttonF span {
  cursor: pointer;
  display:flex;
  position: relative;
  transition: 0.5s;
}

.buttonF span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1;
  right: -20px;
  transition: 0.5s;
}

.buttonF:hover span {
  padding-right: 25px;
}

.buttonF:hover span:after {
  opacity: 1;
  right: 0;
}


