
.floatingForm {
   
    background-attachment: fixed;
    border: solid ;
    border-radius: 25px;
    border-style:outset;
    margin-left: 50rem;
    margin-right: 50rem;
    height: 20em;
    margin-top: 10rem;
    background-color: rgb(228, 207, 180);
    background-position: center;
    padding: 5px;
    text-transform: capitalize;
    font-size: 20px;
    float: inherit;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.singup_1 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    border-radius: 2px;
}

.singup_1 .pass {
    font-size: 30px;
    text-transform: capitalize;
    margin: 25px;
    margin-left: -1px;
}

.singup_1 a {
    margin: 25px;
    margin-left: 15%;
    text-decoration: none;
    text-align: center;
}

.singup_1 .acc {
    margin: 25px;
    border-radius: 10px;
}
