 .register{

}

.singup_1 {
    
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    border-radius: 2px;
   
}

.singup_1 .eta {
    font-size: 30px;
    display: inline-block;
    margin: 28px;
    text-transform: capitalize;
    margin-left: -3px;
}

.singup_1 .pass {
    font-size: 30px;
    text-transform: capitalize;
    margin: 10px;
    margin-left: -1px;
}

.singup_1 a {
    margin: 10px;
    margin-left: 25%;
    text-decoration: none;
    text-align: center;
}
 
.singup_1 .loc {
    margin: 10px;
    margin-right: 20px;
}

.register {
    
}
