/*

body{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./image/font2.jpg');
    font-family: 'Roboto', sans-serif;
}

form{
    margin-top: 20px;
    background-color: azure;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
}

form h1{
    color: rgb(127, 11, 221);
    text-align: center;
}

form .social-media{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form .social-media p{
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #545454;
  border-radius: 100%;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
form p.usare-email{
    text-align: center;
}
form .inputs{
    display: flex;
    flex-direction: column;
}
form .inputs input[type="email"], [type="password"]{
   padding: 15px;
   border-radius: 5px;
   border: none;
   background-color: #f2f2ff;
   margin-bottom: 15px;
   outline: none; 
}
form p.iscrizione{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
    justify-content: center;
}
form p.iscrizione span{
    color: rgb(127, 11, 221);
    cursor: pointer;
}
form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(127, 11, 221);
    background-color: rgb(11, 137, 221);
    outline: none;
    cursor: pointer;
}

*/

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('./image/backgroun2.jpg') top left no-repeat fixed;
}


.container {
    position: absolute;
    width: 100%;
    z-index: 1;
}


.container::after{
    position: absolute;
    z-index: inherit;
    margin-top: 0;
    margin-left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.205);
}

.form_container {
    position: absolute;
    z-index: 2;
    margin-top: 25%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 930px;
    height: 60%;
    min-height: 510px;
    background-color: azure;
    box-shadow: 7px 4px 19px -2px rgba(0, 0, 0, 0.75);
    display: flex;
}

.slider_section{
    position: relative;
    width: 50%;
    height: 100%;
}
.slider_section img{
    width: 100%;
    height: 100%;
}

.slider_section .progretion{
     position: absolute;
     bottom: 5%;
     margin-left: 50%;
     transform: translate(-50%, 0);
     
}

.progretion i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: beige;
}

.progretion i:first-child{
    background-color: blueviolet;
}

.form_section{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 20px 70px 10px 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.form_section > *{
    margin: 10px 0;
}
.form_container h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(43, 36, 36);
}
.form_section h4{
    text-align: center;
    margin: 15px 0;
}
.inputRow{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 100px;
    overflow: hidden;
    background-color: bisque;
}
.inputRow .input_icon {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #a8df8b;
}

.inputRow input {
    width: 85%;
    border: none;
    border-left:1px solid black ;
    padding: 2px 5px;
    outline: none;
    font-style: italic;
    font-size: 17px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#forgot_password {
    color: black;
}

.button_row {
   display: flex;
   justify-content:space-evenly;
}

.button {
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 5px 8px ;
    min-width: max-content;
    min-height: max-content;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: beige;
    font-size: 18px;
    font-family: "Cambria";
    cursor: pointer;

    transition: all case in ease-out 250ms;
}


#login_button {
    background: #76b852;
    background: -webkit-linear-gradient(to right,#80C26F, #76b852);
    background: linear-gradient(to right, #8dc26f, #76b852);
}

#signin_button {
    background: #353232;
    background: -webkit-linear-gradient(to right,#4e524e, #575555);
    background: linear-gradient(to right, #505049, #535553);
}

.button:hover{
    box-shadow: 1px 1px 4px -1px rgba(58, 56, 56, 0.75);
}
.button_group {
    width: 40%;
    justify-content: left;
    padding: 1px 2px;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 90px;
    padding: left;
}
.button_group img {
    width: 30px;
    height: 30px;
    margin-right: 9px;
    margin-left: 4px;
    justify-content: space-evenly;
}