*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
.p{
    font-weight: 300;
    color: #111;
}

header{
     position: fixed;
     top: 0%;
     left: 0%;
     padding: 20px;
     width: 100%;
     z-index: 1;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: 0.5s;
     background:thistle;
}

.logo{
    color:rgb(38, 46, 160);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span{
    color: #13ec0c;
}


.navbar{
    display: flex;
    position: relative;
}


.navbar li{
    list-style: none;
}

.navbar a{
    color: rgb(175, 58, 58);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 1em;

}


.btn-accedi{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-accedi:hover{
    background: #d87710;
    transition: ease-out;
}
.header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.btn-registrati {
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-registrati:hover {
    background: #a8825a;  
    transition: ease-out; 
}

.boxx{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(./image/home.jpg);
    background-size: cover;
}

h1{
    margin: 0 0 10px;
    padding: 0;
    color: rgb(18, 231, 132);
    font-size: 50px;
}
.box{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    transform: translate(-50%, -50%);
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input [type ="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input [type ="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fb911f;
}

input [type ="submit"].hover{
    background:#a8825a;
}