<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehome.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <title>HomeAway</title>
</head>
<body>
    <header>

        <a href=" # " class="logo"><span>Home</span>Away</a>

        <ul class="navbar ">
            <li> <a href="login.html"> Ricerca</a> </li>
            <li><a href="login.html">Catalogo</a></li>
            <li><a href="# ">Servizi</a></li>
            <li><a href="# ">Faq</a></li>
            <li> <a href="login.html" class="btn-accedi ">Accedi</a> </li>
            <a href="SignUp.html" class="btn-registrati ">Registratti</a>
        </ul>
      </header>
 

      <section class="cover" >
          <div class="cover_"></div>
          <div class="cover_caption">
              <div class="cover_caption_copy">
                  <h1>Il migliore sito per affittare case in Italia</h1>
                  <h2>Qui trovate tutto </h2>
                 <!--  <a href="" class="button">call to action</a> -->
              </div>
          </div>
      </section>
                    <div class="texto">
                            <h1>Ultimi annunci</h1>
                            <h3>Annunci che potrebbe interessarti</h3>

                    </div>
      
      <section class="banner ">
          <div class="banner_image"></div>
              <div class="banner_copy">
                  <div class="banner_copy_text">
                    <h3>Camera in Ancona</h3>
                    <p>Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                        di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                        Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                        di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                    </p>
                    <div class="prezzo">
                          <h4>1 locale</h4>
                         <h4>3 camere da letto</h4>
                         <h4>60m°</h4>
                         <h4>Prezzo: 300 €</h4>
                        
                      <a href="" class="button">Vedi l'annuncio</a>
                    </div>
                   
                    <h5></h5>
              </div>
          </div>
      </section>

      <section class="banner ">
        <div class="banner_image"></div>
            <div class="banner_copy">
                <div class="banner_copy_text">
                  <h3>Camera in Ancona</h3>
                  <p>Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                      di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                      Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                      di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                  </p>
                  <div class="prezzo">
                        <h4>1 locale</h4>
                       <h4>3 camere da letto</h4>
                       <h4>60m°</h4>
                       <h4>Prezzo: 300 €</h4>
                      
                    <a href="" class="button">Vedi l'annuncio</a>
                  </div>
                 
                  <h5></h5>
            </div>
        </div>
    </section>


    <section class="banner ">
        <div class="banner_image"></div>
            <div class="banner_copy">
                <div class="banner_copy_text">
                  <h3>Camera in Ancona</h3>
                  <p>Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                      di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                      Camere in affito in Ancona in via brecce bianche, la camera si trova in un'appartamento 
                      di cinque locali vicino all'università, e ha 3 fermate dell'autobus, una fermata della mensa universitaria.
                  </p>
                  <div class="prezzo">
                        <h4>1 locale</h4>
                       <h4>3 camere da letto</h4>
                       <h4>60m°</h4>
                       <h4>Prezzo: 300 €</h4>
                      
                    <a href="" class="button">Vedi l'annuncio</a>
                  </div>
                 
                  <h5></h5>
            </div>
        </div>
    </section>



    <section class="cards clearfix">
        <div class="card">
            <img class="card_image" src="https://source.unsplash.com/category/nature/400*260"  alt="Nature">
            <div class="card_modello">
                <h3>Chi siamo</h3>
                <p>La propriété « max-width » appliquera à l’image cible la largeur maximale de son conteneur, le problème est que 
                    la hauteur de l’image ne sera pas adaptée et le ratio de l’image sera donc modifié.
                    Pour résoudre ce problème, il faudra ajouter une propriété « height » avec 
                    la valeur « auto » à l’image pour que la hauteur de l’image s’ajuste en fonction de 
                    la largeur en conservant le ratio initial de l’image.</p>
            </div>
        
        </div>

        <div class="card ">
            <img class="card_image" src="https://source.unsplash.com/category/nature/400*260"); alt="Nature">
            <div class="card_modello">
                <h3>Nostri servizi</h3>
                <p>La propriété « max-width » appliquera à l’image cible la largeur maximale de son conteneur, le problème est que 
                    la hauteur de l’image ne sera pas adaptée et le ratio de l’image sera donc modifié.
                    Pour résoudre ce problème, il faudra ajouter une propriété « height » avec 
                    la valeur « auto » à l’image pour que la hauteur de l’image s’ajuste en fonction de 
                    la largeur en conservant le ratio initial de l’image.</p>
            </div>
        
        </div>

        <div class="card">
            <img class="card_image" src="https://source.unsplash.com/category/nature/400*260"  alt="Nature">
            <div class="card_modello">
                <h3>Vantaggi</h3>
                <p>La propriété « max-width » appliquera à l’image cible la largeur maximale de son conteneur, le problème est que 
                    la hauteur de l’image ne sera pas adaptée et le ratio de l’image sera donc modifié.
                    Pour résoudre ce problème, il faudra ajouter une propriété « height » avec 
                    la valeur « auto » à l’image pour que la hauteur de l’image s’ajuste en fonction de 
                    la largeur en conservant le ratio initial de l’image.</p>
            </div>
        
        </div>
    </section>


    <!--<section class="section_footer"> -->
        <footer>
            <div class="container">
                <div class="sec imetti_contatto">

                    <div class="sec contatti">
                        <h2>Contatti</h2>
                        <ul class="informazioni">
                            <li>
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span>123 Street, Italia <br>IT</span>
                            </li>
                
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <p><a href="tel:000.000.000.000">000.000.000.000</a><br></p>
                            </li>
                
                            <li>
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <p><a href="mail:mail@domain.com">mail@domain.com</a></p>
                            </li>
                
                        </ul>
                    </div>
               
        
            </div>

            <div class="sec quicklink">
                <h2>Link Utili</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Nostro servizi</a></li>
                    <li><a href="#">FAQ</a></li>
                    
                </ul>
            </div>
        

       
            <div class="newsletter">
                <h2>Newsletter</h2>

                

                <form action="action_page.php">
                    <div class="container">
                      <p>Registratti per vedere ...</p>
                    </div>
                  
                    <div class="container" style="background-color:white">
                      <input type="text" placeholder="Name" name="name" required>
                      <input type="text" placeholder="Email address" name="mail" required>
                    
                    </div>
                  
                    <div class="container1">
                      <input type="submit" value="Registratti">
                    </div>
                  </form>

                <ul>
        
                </ul>
            </div>

            
            
            <div class="copyright">
                <p>HomeAway srl-via HomeAway, 23-Ancona. Copyright@2022 HomeAway. Diritti Riservati</p>
            </div>
            </div>
        <!-- -->    
        </footer>
        </section>
<scrip src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</body>
</html>