<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehome.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <title>HomeAway</title>
</head>
<body>
    <header>

        <a href=" # " class="logo"><span>Home</span>Away</a>

        <ul class="navbar ">
            <li> <a href="login.html"> Ricerca</a> </li>
            <li><a href="login.html">Catalogo</a></li>
            <li><a href="# ">Servizi</a></li>
            <li><a href="# ">Faq</a></li>
            <li> <a href="login.html" class="btn-accedi ">Accedi</a> </li>
            <a href="SignUp.html" class="btn-registrati ">Registratti</a>
        </ul>
      </header>
 

      <section class="cover" >
          <div class="cover_"></div>
          <div class="cover_caption">
              <div class="cover_caption_copy">
                  <h1>Il migliore sito per affittare case in Italia</h1>
                  <h2>Qui trovate tutto </h2>
                 <!--  <a href="" class="button">call to action</a> -->
              </div>
          </div>
      </section>

      <!--
        <section class="boxx">
            <div class="box">
                
                
                
            </div>
        </section>
        

    <section class="chi_siamo" id="chi_siamo">
        <div class="riga1">
            <div col50>
                <div class="col50">
                <div class="img">
                    <img src="./image/logo.png" alt="image">
                </div>
            <h2 class="descrizione"><span>C</span>os'è .....</h2>
            <p class="descrizione1">Es la idea fundamental en torno a la que
                se reflexiona; puede aparecer al principio
                o al final del texto y ocupa un párrafo,
                también al inicio o al final. En este último
                caso muchas veces se omite la conclusión
                por considerarse innecesaria, pues es la
                tesis la que ocupa su lugar.
                Es muy importante que la tesis esté
                formulada de forma clara, dado que es el
                núcleo en torno al cual gira la
                argumentación que se va a desarrollar a
                continuación.</p>
            </div>
            
            </div>
        </div>
    </section>

    <section class="servizi" id="servizi">
        <div class="riga2">
            <div col51>
                <div class="col51">
                <div class="img2">
                    <img src="./image/servizi.jpg" alt="image">
                </div>
            <h2 class="descrizione2"><span>V</span>antaggi</h2>
                <p>Il nostro sito web usa diverse tecniche
                    per offrirvi il migliore servizio possibile e
                    un’esperienza di navigazione ottimale.
                    Tra queste troviamo il trattamento dei
                    dati necessario per ragioni tecniche per
                    la messa a disposizione del sito web e delle
                    funzioni, nonché altre tecniche usate per
                    consentire una comoda impostazione del sito
                    web o per la visualizzazione di contenuti
                    di marketing personalizzati, nonché per
                    un’analisi corrispondente del vostro
                    comportamentodi utilizzo. Se desiderate
                    rifiutare questo trattamento volontario fare
                    clic su “Solo cookie tecnici” affinché vengano
                    impostati solo i cookie necessari.</p>
            </div>
            
            </div>
        </div>
    </section>

    <section class="recenzioni" id="servizi">
        <div class="riga3">
            <div col51>
                <div class="col52">
                <div class="img3">
                    <img src="" alt="image">
                </div>
            <h2 class="descrizione3"><span>C</span>osti e servizi</h2>
                <p>Non c'è nessuna regola che vieta di
                    scrivere recensioni che contengono
                    soltanto una manciata di parole, ma
                    ovviamente maggiori sono i dettagli forniti
                    e più sarà probabile che la recensione sia utile.
                    Ti consigliamo di scrivere basandoti sulla tua
                    prospettiva personale, attenendoti ai fatti e
                    fornendo un resoconto sincero. Aiuta i lettori
                    a mettersi nei tuoi panni.
                    Le seguenti recensioni sono troppo brevi
                    per poter descrivere ai lettori gli aspetti
                    positivi dell'azienda. Inoltre, non forniscono
                    molti commenti utili ad aiutare</p>
            </div>
            
            </div>
        </div>
    </section>
-->
<section class="section_footer">
<footer>
    <div class="container">
        <div class="sec imetti_contatto">

         <!--

           <h2>Chi siamo</h2>
           
          <p>
            Non c'è nessuna regola che vieta di
            scrivere recensioni che contengono
            soltanto una manciata di parole, ma
            ovviamente maggiori sono i dettagli forniti
            e più sarà probabile che la recensione sia utile.
        
          </p>

            <ul class="sci">
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>-->
    </div> 
    <div class="sec quicklink">
        <h2>Link Utili</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Chi siamo</a></li>
            <li><a href="#">Nostro servizi</a></li>
            <li><a href="#">I nostri progetti</a></li>
            <li><a href="#">Contattaci</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Aiuto</a></li>
        </ul>
    </div>
    <div class="sec contatti">
        <h2>Contatti</h2>
        <ul class="informazioni">
            <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span>123 Street, Italia <br>IT</span>
            </li>

            <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <p><a href="tel:000.000.000.000">000.000.000.000</a><br></p>
            </li>

            <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <p><a href="mail:mail@domain.com">mail@domain.com</a></p>
            </li>

        </ul>
    </div>
    
    <div class="newsletter">
        <h2>Newsletter</h2>
        <ul>

        </ul>
    </div>
    <div class="copyright">
        <p>HomeAway srl-via HomeAway, 23-Ancona. Copyright@2022 HomeAway. Diritti Riservati</p>
    </div>
    </div>
</footer>
</section>


<scrip src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</body>
</html>